.fav-select-outline-icon {
  font-size: 2rem;
  color: #455a64;
}
.fav-select-fill-icon {
  font-size: 2rem;
  color: #455a64;
}

.remove-button {
  border: solid 1px #556e7a;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #556e7a;
  margin: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
